html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img{ border-width:0; padding:0; margin:0; font-family:ו,Tahoma,Verdana,Segoe,sans-serif; font-size:12px;}
body {
	background: #dce5f1;
}

a{text-decoration: none;}
.text3{ width:400px; height:100px; border:#CCCCCC 1px solid; line-height:20px;}

#head{ width:100%; height:66px; background:url(../images/top.jpg);} 
#head .logo{ width:400px; height:66px; float:left; text-align:left;} 
#head .admin{ width:400px; height:66px; float:right; text-align:right;} 

#left{width:201px; float:left; clear:left; background:url(../images/left_2.gif);}
#left .mune{CURSOR: hand; line-height:26px; text-align:left; font-size:14px;}
#left .butn{ padding: 0 0 0 30px;}


#right{ width:791px; float:left; clear:right; margin:0 0 0 10px;}
#right .top{ width:756px; background:url(../images/right_top.gif); height:31px; text-align:left; font-size:18px; line-height:30px; font-weight:bold; padding:0 0 0 35px;}
#right .grop{ background:#FFFFFF; border:#CCCCCC 1px solid; border-top: none; text-align:left; width:100%; height:600px;}
#right .search{ background:#FFFFFF; border:#CCCCCC 1px solid; height:18px; width:150px; line-height:16px;}
#right .table{ border:#CCCCCC 1px solid; width:780px; margin:10px 5px 10px 5px;}
#right .tabletop{ background:#FFFFFF; width:780px; background:url(../images/right_table_1.gif); height:27px; line-height:27px;}
#right .tabletop h1{float:left; font-size:14px; padding-left:7px; border-right:#FFFFFF 1px solid;}
#right .tabletr{float:left; height:24px; font-size:12px; line-height:24px; padding-left:7px; background-color:#FFFFFF}
#right .tabletd{float:left;height:24px; font-size:12px; line-height:24px;padding-left:7px;border-right:#FFFFFF 1px solid;}
#right .tabletr1{float:left; height:24px; font-size:12px; line-height:24px; padding-left:7px; background-color:#FFFFFF; border-right:#FFFFFF 1px solid;}
#right .tabletr2{float:left; height:24px; font-size:12px; line-height:24px; padding-left:7px; border-right:#FFFFFF 1px solid;}

#right1{ clear:right; margin:0 0 0 10px;OVERFLOW-X: auto; scrollbar-face-color:#B3DDF7;scrollbar-shadow-color:#B3DDF7;scrollbar-highlight-color:#B3DDF7;scrollbar-3dlight-color:#EBEBE4;scrollbar-darkshadow-color:#EBEBE4;scrollbar-track-color:#F4F4F0;scrollbar-arrow-color:#000000; width:auto;HEIGHT: auto}
#right1 .top{ width:756px; background:url(../images/right_top.gif); height:31px; text-align:left; font-size:16px; line-height:30px; font-weight:bold; padding:0 0 0 35px;}
#right1 .grop{ background:#FFFFFF; border:#CCCCCC 1px solid; border-top: none; text-align:left; width:100%; height:600px; }
#right1 .search{ background:#FFFFFF; border:#CCCCCC 1px solid; height:18px; width:150px; line-height:16px;}
#right1 .table{ border:#CCCCCC 1px solid; width:780px; margin:10px 5px 10px 5px;}
#right1 .tabletop{ background:#FFFFFF; width:780px; background:url(../images/right_table_1.gif); height:27px; line-height:27px;overflow-x:scroll;}
#right1 .tabletop h1{float:left; font-size:14px; padding-left:7px; border-right:#FFFFFF 1px solid;}
#right1 .tabletr{height:24px; font-size:12px; line-height:24px; padding-left:7px; background-color:#FFFFFF}
#right1 .tabletr1{ height:24px; font-size:12px; line-height:24px; padding-left:7px; background-color:#FFFFFF; border-right:#FFFFFF 1px solid;}
#right1 .tabletr2{ height:24px; font-size:5px; line-height:24px; padding-left:7px; border-right:#FFFFFF 1px solid;}





#feet{ width:100%; background:#FFFFFF; margin:10px 0 0 0; float:left; clear:both; padding:5px 0 0 0; line-height:20px;}

#regbody{ width:663px; height:auto; border:#c4c4c4 1px solid; border-top:none; background-color:#FFFFFF;margin:0 auto;}
#regbody .title{ width:657px; height:30px; border-bottom:#eeeeef 1px solid; padding:0 0 0 6px; background:#EEFFFE; text-align:left; font-size:14px; line-height:30px; margin:0 0 10px 0;}
#regbody .tt{ width:100px; height:auto; padding:0 0 0 6px; background:#FFFFFF; text-align:right; font-size:12px; float:left; line-height:28px;}
#regbody .tt2{ width:500px; height:50px; padding:0 0 0 6px; background:#FFFFFF; text-align:left; font-size:12px; float:left; line-height:28px;}
#regbody .tt3{ width:600px; height:auto; background:#FFFFFF; text-align:center; font-size:12px; float:left; line-height:28px;}
#regbody .tt4{ width:90%; height:auto; float:left; padding:10px 10px 0 10px; text-align:left; line-height:30px; font-size:18px;}
#regbody .text{ width:150px; height:20px; border:#CCCCCC 1px solid;}
#regbody .gun{WIDTH: 350px; HEIGHT: 200px; OVERFLOW: scroll; scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #D2E5F4; scrollbar-highlight-color: #D2E5F4; scrollbar-3dlight-color: #FFFFFF; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #D2E5F4; border:#D2E5F4 1px solid;}

html body{font:12px Arial, Helvetica, sans-serif;color:#333333}
html>body{font:12px Arial, Helvetica, sans-serif;color:#333333}
#TB_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
	width: 100%;
	height: 100%;
	background-color:#CCC;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
#TB_window {
	top: 0px;
	left: 0px;
	position: fixed;
	_position: absolute;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	border:5px solid #666;
}
#TB_caption{
	height:25px;
	padding:10px 30px 10px 25px;
}
#TB_closeWindow{
	height:25px;
	padding:10px 25px 10px 0;
	float:right;
}
#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	background-color:#e8e8e8;
}
#TB_ajaxContent{
	padding:2px 15px 15px 15px;
	overflow:auto;
}

#TB_load{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block;
	z-index:101;
}
#TB_loadContent{
	margin-left: -125px;
	position: absolute;
	top: -50px;
	left: 50%;
	width: 250px;
	height: 100px;
	visibility: visible;
}